.about {
  > header {
    font-size: 45px;
  }

  > section {
    width: 50%;
  }

  > section {
    > p {
      margin-top: 10px;
    }

    > p:first-child {
      margin-top: 0;
    }

    > p > a {
      color: #64B1F5;
    }
  }
}

@media screen and (max-device-width: 800px) {
  .about > section {
    width: 90%;
  }
}
