.resume {
    font-size: 12px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.resume {
    > header,
    > header > .contact,
    > .details,
    > details > section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    > header {
        margin-bottom: 15px;
    }

    > header {
        .contact {
            align-items: center;
            .name {
                font-size: 20px;
            }
        }

        > nav {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        > nav {
            > div {
                display: flex;
                flex-direction: row;
                width: calc(100%/3);            
            }
            > .col1 {
                justify-content: flex-start;
            }
            > .col2 {
                justify-content: center;
            }
            > .col3 {
                justify-content: flex-end;
            }
        }
    }

    > .details {
        > section {
            margin-bottom: 15px;
        }

        > section {
            > header {
                width: 100%;
                font-weight: bold;
                border-bottom: solid 1px;
                display: flex;
                flex-direction: row;
                align-items: left;    
            }
        }

        > section.skills > .skill-category {
            font-weight: bold;
        }

        > section.experiences > .experience > header {
            font-weight: bold;
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        > section.experiences > .experience > header {
            > div {
                display: flex;
                flex-direction: row;
                width: calc(100%/3);    
            }
            > .col1 {
                justify-content: flex-start;
            }
            > .col2 {
                justify-content: center;
            }
            > .col3 {
                justify-content: flex-end;
            }
        }

        > section.software-projects > .project > header {
            border-bottom: solid 0px;
            font-weight: bold;
        }
    }
}

@media screen and (max-device-width: 500px) {
    .resume > header > nav {
        flex-direction: column;
    }

    .resume > header > nav {
        > .col1, > .col2, > .col3 {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            align-items: left;    
        }
    }
}
